apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: '[]'
    capabilities: Basic Install
    createdAt: "2025-12-11T18:23:51Z"
    operators.operatorframework.io/builder: operator-sdk-v1.39.2
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v4
  labels:
    operatorframework.io/arch.amd64: supported
    operatorframework.io/arch.arm64: supported
    operatorframework.io/arch.ppc64le: supported
    operatorframework.io/arch.s390x: supported
    operatorframework.io/os.linux: supported
  name: runtimes-inventory-operator.v1.0.0-dev
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions: {}
  description: Operator support for Runtimes Inventory
  displayName: Runtimes Inventory Operator
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resourceNames:
          - pull-secret
          resources:
          - secrets
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - config.openshift.io
          resources:
          - clusterversions
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: runtimes-inventory-operator-controller-manager
      deployments:
      - label:
          app.kubernetes.io/component: manager
          app.kubernetes.io/created-by: runtimes-inventory-operator
          app.kubernetes.io/instance: controller-manager
          app.kubernetes.io/managed-by: kustomize
          app.kubernetes.io/name: runtimes-inventory-operator
          app.kubernetes.io/part-of: runtimes-inventory-operator
          control-plane: controller-manager
        name: runtimes-inventory-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              app.kubernetes.io/name: runtimes-inventory-operator
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: manager
              labels:
                app.kubernetes.io/name: runtimes-inventory-operator
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --metrics-bind-address=:8443
                - --leader-elect
                - --health-probe-bind-address=:8081
                - --enable-webhook
                command:
                - /manager
                env:
                - name: OPERATOR_NAME
                  value: runtimes-inventory-operator-controller-manager
                - name: OPERATOR_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                - name: INSIGHTS_ENABLED
                  value: "true"
                - name: INSIGHTS_BACKEND_DOMAIN
                  value: console.redhat.com
                - name: RELATED_IMAGE_AGENT_INIT
                  value: registry.redhat.io/rh-lightspeed-runtimes/runtimes-agent-init-rhel9:latest
                - name: RELATED_IMAGE_INSIGHTS_PROXY
                  value: registry.redhat.io/3scale-amp2/apicast-gateway-rhel8:3scale2.15
                - name: USER_AGENT_PREFIX
                  value: runtimes-inventory-operator/1.0.0
                image: controller:latest
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                ports:
                - containerPort: 9443
                  name: webhook-server
                  protocol: TCP
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 10m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
                volumeMounts:
                - mountPath: /tmp/k8s-webhook-server/serving-certs
                  name: cert
                  readOnly: true
              securityContext:
                runAsNonRoot: true
                seccompProfile:
                  type: RuntimeDefault
              serviceAccountName: runtimes-inventory-operator-controller-manager
              terminationGracePeriodSeconds: 10
              volumes:
              - name: cert
                secret:
                  defaultMode: 420
                  secretName: webhook-server-cert
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - configmaps/finalizers
          - secrets
          - services
          verbs:
          - create
          - get
          - list
          - update
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments
          - deployments/finalizers
          verbs:
          - create
          - get
          - list
          - update
          - watch
        serviceAccountName: runtimes-inventory-operator-controller-manager
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - insights
  - java
  - runtimes
  - red hat
  links:
  - name: Runtimes Inventory Operator
    url: https://github.com/RedHatInsights/runtimes-inventory-operator
  maintainers:
  - email: ebaron@redhat.com
    name: Elliott Baron
  maturity: alpha
  minKubeVersion: 1.25.0
  provider:
    name: Red Hat
    url: https://www.redhat.com
  relatedImages:
  - image: registry.redhat.io/rh-lightspeed-runtimes/runtimes-agent-init-rhel9:latest
    name: agent-init
  - image: registry.redhat.io/3scale-amp2/apicast-gateway-rhel8:3scale2.15
    name: insights-proxy
  version: 1.0.0-dev
  webhookdefinitions:
  - admissionReviewVersions:
    - v1
    containerPort: 443
    deploymentName: runtimes-inventory-operator-controller-manager
    failurePolicy: Ignore
    generateName: mpod.runtimes.insights.redhat.com
    objectSelector:
      matchExpressions:
      - key: com.redhat.insights.runtimes/inject-agent
        operator: Exists
    rules:
    - apiGroups:
      - ""
      apiVersions:
      - v1
      operations:
      - CREATE
      resources:
      - pods
    sideEffects: None
    targetPort: 9443
    type: MutatingAdmissionWebhook
    webhookPath: /mutate--v1-pod
